<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.cheatsheet</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8810B480-340A-4E77-8287-F01CF672939E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA4A2219-A859-4D89-94D3-3F79561AA1DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA4A2219-A859-4D89-94D3-3F79561AA1DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB6AFBF2-CC17-48AB-AB0C-C6009C26209C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFABEE08-73C6-4AED-A70B-9B2723796738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mberrueta</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cheatseet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cht</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>connecting server....</string>
				<key>script</key>
				<string>source ~/.bashrc

LANG=en_US.UTF-8 /usr/bin/ruby ./src/get_sheets.rb
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>./src/main.rb</string>
				<key>subtext</key>
				<string>Cheatsheet</string>
				<key>title</key>
				<string>cht</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8810B480-340A-4E77-8287-F01CF672939E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CB6AFBF2-CC17-48AB-AB0C-C6009C26209C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./src/get_shortcuts.rb $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DA4A2219-A859-4D89-94D3-3F79561AA1DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>shortcut copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EFABEE08-73C6-4AED-A70B-9B2723796738</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>asd</string>
	<key>uidata</key>
	<dict>
		<key>8810B480-340A-4E77-8287-F01CF672939E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>CB6AFBF2-CC17-48AB-AB0C-C6009C26209C</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>DA4A2219-A859-4D89-94D3-3F79561AA1DB</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>EFABEE08-73C6-4AED-A70B-9B2723796738</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>BASE_URL</key>
		<string>https://cheatsheet-api-mb.herokuapp.com</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/mberrueta/cheatsheet_api</string>
</dict>
</plist>
